{%include 'public_header.html'%}
<br><br><br><br><br><br><br><br><br><br>
<h2 align="center">SIGN IN</h2>

									<form method="post">
										<CENTER>
										<table class="table" style="width: 500px;">
											<tr>
												<td>USERNAME</td>
												<td><input type="text" required="" name="username" class="form-control"></td>
											</tr>
											<tr>
												<td>PASSWORD</td>
												<td><input type="password" required="" class="form-control" name="password"></td>
											</tr>
											<tr>
												<td colspan="2" align="center"><input type="submit" class="btn btn-success" name="login" value="LOGIN"></td>
											</tr>
										</table>
									</CENTER>
									</form>
									<br><br><br><br><br>
	<!-- //banner -->


<!-- 

<H2><CENTER>WELCOME TO RENTALCAR</CENTER> </H2>
<P><CENTER>PLEASE LOGIN</CENTER></P><br>


<form method="post">
	<CENTER>
	<table class="table" style="width: 500px;">
		<tr>
			<td>USERNAME</td>
			<td><input type="text" required="" name="username" class="form-control"></td>
		</tr>
		<tr>
			<td>PASSWORD</td>
			<td><input type="password" required="" class="form-control" name="password"></td>
		</tr>
		<tr>
			<td colspan="2"><input type="submit" class="but" name="login" value="LOGIN"></td>
		</tr>
	</table>
</CENTER>
</form> -->

{%include 'footer.html'%}