
<!-- 

<!DOCTYPE html>
<html lang="en">
<head>
<title>Zed-X</title>
	
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta name="keywords" content="Taxi Cab Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
	<script type="application/x-javascript">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}
	</script>

	<link rel="stylesheet" href="/static/css/owl.carousel.css" type="text/css" media="all">
	<link rel="stylesheet" href="/static/css/owl.theme.css" type="text/css" media="all">
	<link rel="stylesheet" href="/static/css/bootstrap.css"> 
	<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all" />
	<link rel="stylesheet" href="/static/css/fontawesome-all.css">
	<link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext" rel="stylesheet">
	
</head>

<body>

	<div class="top-bar_sub_w3layouts container-fluid">
		<div class="row">
			
			<div class="col-md-4 col-sm-6 log-icons mt-2">
				<p class="py-2"><i class="fas fa-phone"></i> Zed-X : 12(00) 123 1234</p>
			</div>
			
			<div class="col-md-4 col-sm-6 logo">
				<a class="navbar-brand" href="ownerhome">
					<i class="fas fa-taxi"></i> Zed-X</a>
			</div>
			
			
			<div class="col-md-4 top-forms mt-md-3 mt-2 mb-md-0 mb-3">
				<span class="mx-lg-4 mx-md-2  mx-1">
					<a href="/"  >
						<i class="fas fa-lock"></i> Sign Out</a>
				</span>
			</div>
		</div>
	</div>



	<div class="banner" id="home" style="background-attachment: fixed;">
		<header>
			<nav class="navbar navbar-expand-lg navbar-light bg-light top-header">
				<button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav mx-auto">
						<li class="nav-item active">
							<a class="nav-link ml-lg-0" href="ownerhome">Home
								<span class="sr-only">(current)</span>
							</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/owner_view_pofile">VIEW PROFILE</a>
						</li>
						

						<li class="nav-item">
							<a class="nav-link" href="/owner_manage_vehicles">MANAGE VEHICLES</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/owner_manage_item">MANAGE ITEMS</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/owner_view_booking">VIEW BOOKING</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/owner_view_user">VIEW USERS</a>
						</li>
					
					</ul>

				</div>
			</nav>
		</header> -->


		


		<!DOCTYPE html><html lang="zxx"><head>
			<title>Rentaly - Multipurpose Vehicle Car Rental Website Template</title>
			<link rel="icon" href="/static/images/icon.png" type="image/gif" sizes="16x16">
			
			<meta content="width=device-width, initial-scale=1.0" name="viewport">
			<meta content="Rentaly - Multipurpose Vehicle Car Rental Website Template" name="description">
			<meta content="" name="keywords">
			<meta content="" name="author">
			<!-- CSS Files
			================================================== -->
			<link href="/static/css/bootstrap.min.css" rel="stylesheet" type="text/css" id="bootstrap">
			<link href="/static/css/mdb.min.css" rel="stylesheet" type="text/css" id="mdb">
			<link href="/static/css/plugins.css" rel="stylesheet" type="text/css">
			<link href="/static/css/style.css" rel="stylesheet" type="text/css">
			<link href="/static/css/coloring.css" rel="stylesheet" type="text/css">
			<!-- color scheme -->
			<link id="colors" href="/static/css/scheme-01.css" rel="stylesheet" type="text/css">
		</head>
		
		<body onload="initialize()" class="dark-scheme">
			<div id="wrapper">
				
				<!-- page preloader begin -->
				<div id="de-preloader"></div>
				<!-- page preloader close -->
		
				<!-- header begin -->
				<header class="transparent has-topbar">
					<div id="topbar" class="topbar-dark text-light">
						<div class="container">
							<div class="topbar-left xs-hide">
								<div class="topbar-widget">
									<div class="topbar-widget"><a href="#"><i class="fa fa-phone"></i>+91 8137814055</a></div>
									<div class="topbar-widget"><a href="#"><i class="fa fa-envelope"></i>anushkaprashanth29@gmail.com</a></div>
									<div class="topbar-widget"><a href="#"><i class="fa fa-clock-o"></i>Mon - Fri 08.00 - 18.00</a></div>
								</div>
							</div>
						
							
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="de-flex sm-pt10">
									<div class="de-flex-col">
										<div class="de-flex-col">
											<!-- logo begin -->
											<div id="logo">
												<a href="/ownerhome">
													<img class="logo-1" src="/static/images/logo-light.png" alt="">
													<img class="logo-2" src="/static/images/logo-light.png" alt="">
												</a>
											</div>
											<!-- logo close -->
										</div>
									</div>
									<div class="de-flex-col header-col-mid">
										<ul id="mainmenu">
											<li><a class="menu-item" href="/ownerhome">Home</a>
												
											</li>
											<!-- <li><a class="menu-item" href="/login">Login</a> -->
												<!-- <ul>
													<li><a class="menu-item" href="cars.html">Cars List 1</a></li>
													<li><a class="menu-item" href="02_dark-cars.html">Cars List 1 Dark</a></li>
													<li><a class="menu-item" href="cars-list.html">Cars List 2</a></li>
													<li><a class="menu-item" href="02_dark-cars-list.html">Cars List 2 Dark</a></li>
													<li><a class="menu-item" href="car-single.html">Cars Single</a></li>
													<li><a class="menu-item" href="02_dark-car-single.html">Cars Single Dark</a></li>
												</ul> -->
											</li>
											<li><a class="menu-item" href="/owner_view_pofile">Profile</a></li>
											<li><a class="menu-item" href="/owner_manage_vehicles">Manage Vehicle</a>
												
											</li>
											<li><a class="menu-item" href="/owner_manage_item">Manage Items</a>
												
											</li>
											<li><a class="menu-item" href="/owner_view_booking">Bookings</a>
						
											 </li>
											<li><a class="menu-item" href="/owner_view_user">View Users</a>
											</li> 
										</ul>
									</div>
									<div class="de-flex-col">
										<div class="menu_side_area">
											<a href="/" class="btn-main">Sign Out</a>
											<span id="menu-btn"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</header>
				<!-- header close -->
