{% include 'owner_header.html'%}
<form method="post" enctype="multipart/form-data">
	<center>
	<table class="table" style="width : 500px;">
		<h2 style="padding-top: 200px;">Manage Item</h2>
		
		<tr>
			<td>ITEM NAME</td>
			<td><input type="text" class="form-control" name="iname" value="{% if obj2 %} {{ obj2.item_name }} {% endif %}"></td>
		</tr>
		
		<tr>
			<td>QUANTITY</td>
			<td><input type="text" class="form-control" name="quantity" value="{% if obj2 %} {{ obj2.quantity }} {% endif %}"></td>
		</tr>
		<tr>
			<th>PER DAY RENT</th>
			<td><input type="text" class="form-control" name="rent_per_item" value="{% if obj2 %} {{ obj2.rent_per_item }} {% endif %}"></td>
		</tr>
		<tr>
			<td>DESCRIPTION</td>
			<td><input type="text" class="form-control" name="description" value="{% if obj2 %} {{ obj2.description }} {% endif %}"></td>
		</tr>
		
		<tr>
			<td>IMAGE</td>
			<td><input type="file" class="form-control" name="img1" value="{% if obj2 %} {{ obj2.image }} {% endif %}"></td>
		</tr>
		<!-- <tr>
			<td>IMAGE2</td>
			<td><input type="file" class="form-control" name="img2" value="{% if obj2 %} {{ obj2.image2 }} {% endif %}"></td>
		</tr> -->


		
		<tr>
			{% if obj2 %}
			<td colspan="2" align="center"><input type="submit" class="btn btn-warning" name="update" value="UPDATE"></td>
			{% else %}
			<td  colspan="2" align="center"><input type="submit" class="btn btn-warning" name="upload" value="UPLOAD"></td>
			{% endif %}
		</tr>
	</table>


	<table class="table" style="width : 1100px;">
		<h2>ITEM DETAILS</h2>
		<tr>
			<td>ITEM NAME</td>
			<td>DESCRIPTION</td>
            <td>QUANTITY</td>
			<td>PER DAY RENT</td>
			<td>IMAGE</td>
		</tr>
		{% for row in obj %}
		<tr>
			<td>{{ row.item_name }}</td>
			<td>{{ row.description }}</td>
			<td>{{ row.quantity }}</td>
			<td>{{ row.rent_per_item }}</td>
			
			<td><img src="/static/{{ row.image }}" alt="" style="width : 150px; height : 150px;"></td>
	
			<td><a class="btn btn-danger" href="/owner_delete_item/{{ row.item_id }}">Delete</a>
				<a class="btn btn-warning" href="/owner_update_item/{{ row.item_id }}">Update</a></td>

		</tr>
		{% endfor %}
	</table>

		</center>
</form>


{% include 'footer.html'%}
